
.leftMenu{
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 180px; 
  /* padding: 5px;  */
  height: 100%;
}
.imgBg{
  height:120px;
  width:120px;
  border-radius:50%;
  background-position: center;
  background-size: cover;
}
.btnlink{
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.accordion{
  height:40px;
  padding:10px !important;
  cursor: pointer;
  text-align: left;

  color:var(--Acolor);
}
.Amenu {
  padding-left: 30px !important;
  text-align: left;
  font-size: 15px;
}
.Amenu:hover{
  color:var(--Bcolor);
  font-weight: 900;
  background: var(--Acolor);
}
.myMenu{
  height:25px !important;
  padding: 30 !important;
}
#dropdown-basic{
  padding:0 50px !important;
  height:25px;
  width:100% !important;
  background: var(--Acolor);
}
.dropItem{
  padding:0 !important;
}