
.leftMenu{
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 200px; 
  padding: 15px; 
  height: 100%;
}
.imgBg{
  height:120px;
  width:120px;
  border: solid 1px var(--Bcolor);
  border-radius:50%;
  background-position: center;
  background-size: cover;
}
.btnlink{
  height: 25px;
}