
.reportMenu{
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 60vw; 
  padding: 15px; 
  height: 100%;
}
.scamperReport{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .reportMenu .btnlink{
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
} */