.scamper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.enterNumber{  width: 150px;}

.s-header{
  display: flex ;
  justify-content: space-between;
  background: var(--Ccolor);
  color:var(--Bcolor);
  height:25px;
  /* padding: 0 10px; */
}
.enterWrap{ display: flex; width: 200px;}
.enterInput{  display: flex; outline: none;
flex:auto; font-size: small;}
.enterBtn{  width:50px;}
.enterTitle{  flex: auto;}
.btnRoomDel{
  width:30px;
  background: var(--Ccolor);
  margin-left: 70px;
}

.s-items{ 
  flex:  auto;
  display: grid;
  gap: 5px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 70px); */
  padding: 10px;
  overflow-y:auto ;
}
.s-item{
  display: flex;
  flex-direction: column;
  background: var(--Bcolor);
}
.s-itemTitle{
  background: var(--Acolor);
  color: var(--Bcolor);
  height: 25px;
}
.s-intemInput{
  width: 100%;
  flex: auto;
  outline: none;
  border: none;
}

.s-item ::-webkit-scrollbar {
  width: 4px;
}
.s-item ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}

.adimBar{
  display: flex ;
  justify-content: space-between;
  background: var(--Ccolor);
  color:var(--Bcolor);
  height:25px;
  /* padding: 0 10px; */
}
.enterNumber{  
  flex: auto; display:flex;  
  justify-content: space-between;
  padding:0 10px; 
  background: var(--Bcolor);
  color:var(--Ccolor);
}
.btnRoom{
  background: var(--Bcolor);
  color:var(--Ccolor);
  transition: all 300ms;
}
.btnRoom:hover{
  color:white;
}
.btnRoomDel{
  width:30px;
  background: var(--Ccolor);
  margin-left: 70px;
}
.enterBtn{  font-size: small; width:40px;}
.enterWrap{ display: flex; width: 150px;}
.nowRoom{padding: 0 10px;}
.enterTitle{  flex: auto;}
.enterInput{  width: 60px; outline: none; border: none;}
