.scamper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 서랍열고닫기 */
.drawer{
  width:74vw;
  background:white;
  position: fixed;
  padding: 0;
  right: -100vw;
  height: 100vh;
  transition: all 300ms;
  z-index: 2;
}
.moveDrawer{
  /* right:-60vw; */
  transform: translateX(-100vw);
}
.drawerback{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.backNone{
  display: none;
}
/* 여기까지 서랍 */

.enterNumber{  width: 150px;}

.s-header{
  display: flex ;
  justify-content: space-between;
  background: var(--Ccolor);
  color:var(--Bcolor);
  height:25px;
  /* padding: 0 10px; */
}
.enterWrap{ display: flex; width: 200px;}
.enterInput{  display: flex; outline: none;
flex:auto; font-size: small;}
.enterBtn{  width:50px;}
.btnRoomDel{
  width:30px;
  background: var(--Ccolor);
}

.s-items{ 
  flex:  auto;
  display: grid;
  gap: 5px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 70px); */
  padding: 10px;
  overflow-y:auto ;
}
.s-item{
  display: flex;
  flex-direction: column;
  background: var(--Bcolor);
}
.s-itemTitle{
  background: var(--Acolor);
  color: var(--Bcolor);
  height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 25px;
}
.s-intemInput{
  width: 100%;
  flex: auto;
  outline: none;
  border: none;
  resize: none;
  padding : 5px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
}

.s-item ::-webkit-scrollbar {
  width: 4px;
}
.s-item ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}

.inputBox ::-webkit-scrollbar {
  width: 4px;
}
.inputBox ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}
.inputBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  line-height: 20px;
}
.scamperInput{
  resize: none;
  outline: none;
  border-radius: 0;
  border: none;
  text-align: left;
  padding : 0 5px;
  font-size: 12px;
  line-height: 15px;
}

.scamperInput.input3, .input5, .input6, .input7{
  flex: auto;
}
.scamperInput.input2, .input4, .input6{
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}
.scamperInput.btn{
  padding: 0;
  background: var(--Ccolor);
  color: var(--Bcolor);
  border-radius: 0;
  text-align: center;
}
.scamperInput.btn:hover{
  background: var(--Bcolor);
  color: var(--Acolor);
}
.scamperInput.btn:active{
  color: var(--Bcolor);
  background: var(--Acolor);
}

.adimBar{
  display: flex ;
  justify-content: space-between;
  background: var(--Ccolor);
  color:var(--Bcolor);
  height:25px;
  /* padding: 0 10px; */
}
.enterNumber{  
  flex: auto; display:flex;  
  justify-content: space-between;
  padding:0 10px; 
  background: var(--Bcolor);
  color:var(--Ccolor);
}
.btnRoom{
  background: var(--Bcolor);
  color:var(--Ccolor);
  transition: all 300ms;
}
.btnRoom:hover{
  color:white;
}
.btnRoomDel{
  width:30px;
  background: var(--Ccolor);
  margin-left: 70px;
}
.enterBtn{  font-size: small; width:40px;}
.enterWrap{ display: flex; width: 150px;}
.nowRoom{padding: 0 10px;}
.enterTitle{  flex: auto; font-size: small; 
  width: 100%; overflow-x: auto; transition: all 300ms;
  animation: noticeFly 1000ms;}
.enterInput{  width: 60px; outline: none; border: none;}
/* .noticeTitle{ width: 40px; background: var(--Acolor);} */

.videoModal{
  position: absolute !important;
  left:40%;
  transform: translateX(-50%) !important;
}

.modal-content{
  width:1000px !important;
}
.modal{width:100vw !important; margin:0; padding: 0;
position:absolute !important; left: 10px !important;}
.modalMain{  height: 80vh;  }
.totalmodal{width:800px !important;}

.noticeHeader{
  background: var(--Acolor); line-height: 25px;
  transition: all 300ms; 
}
.noticeFly{
  animation: noticeFly 1000ms ;
}

@keyframes noticeFly{
 from{ transform : scale(3); background:white}
  to{ transform: scale(1); }
}