
.reportMenu{
  width: 75vw; 
  padding:  10px 10px 10px 25px; 
  height: 100%;
}
.MuiDataGrid-colCellTitle{
  margin: auto;
}
.MuiDataGrid-row{
  border-bottom: solid lightgray 1px;
  text-align: center;
}
.row{
  cursor: pointer;
  }
  .MuiDataGrid-root{
    margin: auto;
  }