.togo{
  display: flex;
  flex-direction: column;
  
}
.jumbo{
  background: white;
  display: flex;
  flex-flow: column;
}
.togoMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.togoTop{
  display: flex;
  height: 250px;
  flex-wrap: wrap;
  /* padding-left: 20px; */
}
.jumbo{
  background: none;
  flex: 1;
  min-width: 300px;
}
.jumbo p{
  font-size: large;
}
.togoback{
  background: url('./mainBack.png') center/contain no-repeat;
min-width: 300px;
  flex: 1;
  height: 100%;
}

.togoMain ::-webkit-scrollbar {
  width: 4px;
}
.togoMain ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}
.cardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainCard{
  width: 18rem;
  margin: 0.5vw;
}

.togo Button {
  height: 30px;
}

.btnMenu{
  width :15vw;
  height:15vw;
  font-size: 3vw;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 300ms;
}

.btnMenu:hover{
  transform: scale(0.9);
  background: var(--Acolor);
  opacity: 0.5;
  color: var(--Bcolor);
}

.btnMenu:active{
  transform: scale(1);

  opacity: 1;
  background: linear-gradient(var(--Acolor) 0%, #26D0CE  51%,var(--Acolor)  100%)
}

