*{  
  --Acolor: #061C56;
  --Bcolor :#B8BFB5;  
  --Ccolor : #424242;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: var(--Bcolor);
}
.header {
  display: flex;
  font-weight: bold;
  font-size: large;
  height: 30px;
  line-height: 10px;
  color: var(--Bcolor);
  background: var(--Acolor);
  padding: 3px 0;
}
.btnmenu{ width: 80px; padding: 0 40px 0 0;}
.headerT{flex:1;  }
.rightMenu{ width:90px;font-size:small;}
.droplogOut{width:20px !important;}
main{
  display: flex ;
  flex-direction: column;
  flex: auto;
  position: relative;
}
footer {
  height: 25px;
  line-height: 25px;
  font-size: small;
  font-weight: 900;
  color: var(--Bcolor);
  background: var(--Acolor);
}
button {
  font-weight: 700;
  font-size: medium;
  border: none !important;
  outline: none !important;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 300ms;
  color: var(--Bcolor);
  background: var(--Acolor);
}
button:hover {
  background: var(--Bcolor);
  color: var(--Acolor);
}
button:active {
  background: var(--Acolor);
  color: var(--Bcolor);
}
.link{
  text-decoration: none;
  color : var(--Bcolor);
  outline: none;
  transition: all 300ms;
}
.link:hover{
  text-decoration: none;
  color : var(--Bcolor);
  opacity: 0.5;
}

