.samworkout {
  height: 100%;
  display: flex ;
  flex-direction: column;
  position: relative;
  overflow-y:auto ;
}
.samworkout ::-webkit-scrollbar {
  width: 4px;
}
.samworkout ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}
.workout-header{
  background:var(--Ccolor);
  color:var(--Bcolor);
  width: 100%;
  height: 25px;
  font-weight: 900;
}
.workout-items {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex:  auto;
  height: 100px; 
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  /* padding-right: 50px; */
  overflow-x: hidden;
  overflow-y:auto ;
}

/* .samworkout .topSelect{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
} */
.samworkout .topSelect{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  background:var(--Bcolor);
  height: 35px;
  border:solid 1px var(--Ccolor);
  padding: 1px;
}

.samworkout .samtextarea {
  grid-column: 1/4;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  text-align: left;
  border: none;
  padding: 5px;
}
.workout-form ::-webkit-scrollbar {
  width: 4px;
}
.workout-form ::-webkit-scrollbar-thumb {
  width: thin;
  background-color: var(--Acolor);
  border-radius: 2px;  
}
.samworkout .btnadd {
  background: var(--Acolor);
  color: var(--Bcolor);
  border: none;
  outline: none;
  font-weight: 900;
  font-size: small;
}
.samworkout .rocket {
  display: inline-block;
  border: none;
  outline: none;
}
.samworkout .rocketOn {
  animation: skyon 1000ms;
}
.slider{
  display: grid;
  grid-template-columns: 92px 1fr;
  padding: 5px 25px 5px 10px;
  background: lightgray;
}
.samworkout .inputTitle {
  width: 100%;
  font-size: 1rem;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--Acolor);
}
.todo-input{
  border: solid 1px var(--Acolor);
}

.btnWorkoutAdd{
  background: var(--Dcolor) ;
  border: solid 1px ;
  height:40px;
  cursor: pointer;
}
.btnWorkoutAdd:hover{
  background: white ;
}
.btnWorkoutAdd:active{
  background: var(--Dcolor) ;
}
/* .samworkout .btnWorkoutAdd{
  height:50px;
  background: var(--Ccolor);
  color: white;
  border: solid 1px white;
  padding: 1px;
  font-size: larger;
} */
.samtoolitemrow .btn{
  width:25px;
  height:25px;
  padding:0 4px 8px 4px;
  font-size:14px;
  color:white;
  font-weight:900;
  margin-left: 3px;
  background: var(--Bcolor);
}